html, body{height: 100%;}

div.vertical-line{
    width: 2px; /* Use only border style */
    height: 100%;
    text-align: center;
    border: 1px inset; /* This is default border style for <hr> tag */
}